
body {
  font-family: 'Verdana', sans-serif;
  background-color:  #e8daef;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d6b3e7;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  background-color: #a974bf;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #4b2e83;
}


h1 {
  text-align: center;
  font-size: 2.5em;
  margin-top: 30px;
  color: #4b2e83;
}


p {
  text-align: center;
  font-size: 1.2em;
  margin: 20px auto;
  max-width: 600px;
}

/* Main Content Section */
.main-content {
  padding: 40px;
  text-align: center;
}


#flowerContainer {
  position: relative;
  width: 80%;
  max-width: 600px; 
  height: 400px;
  background: #f7f7f7;
  margin-top: 20px;
  border: 2px dashed #7b5295;
  overflow: hidden; /* Hide any content that overflows the container */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7b5295;
  margin-bottom: 20px;
  width: 80%;
  max-width: 300px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 18px;
  color: #6a2e92;
  margin: 5px;
  animation: fadeIn 0.5s ease;
}



.flower-image {
  background-image: url('https://source.unsplash.com/720x400/?flowers,pastel');
  background-size: cover;
  background-position: center;
  width: 80%;
  height: 300px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
