body{
	background-color: #dfe9e3;
	margin: 0px;
	padding: 0px;
}

#wrapper {

background-color: f00;
width: 80%;
margin: 0px auto;
}

img.banner {
width: 100%;
height: 50px;
}



p {
background: #00FA9A;
width: 500px;
height: 150px;
padding: 20px;
border: 5px solid grey;
margin: 20px;
overflow: auto;
}
.grid-container {
    display: grid;
    place-items: center; 
    height: 90vh; 

.bordered-image {
    border: 2px solid black;
